<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3700.0">
	<notifications formEntrySubmittedNotificationTemplateId="d7a4b08c-771e-4e35-97af-fe63c602471a" />
</formsConfig>