<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3700.0">
	<notifications newPostNotificationTemplateId="1988edb0-5b43-4bd4-a97f-7300fa50461d" newThreadNotificationTemplateId="52d89df5-49cc-4dfb-b7b6-77f2ffdbb31e" />
</forumsConfig>