<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3700.0" authCookieName=".SFAUTH-Blogger2SitefinityMigation" rolesCookieName=".SFROLES-Blogger2SitefinityMigation" validationKey="35EAF76C2B885B8C4D94DA94AA5570CEE4B94F9758AE00C5E427C22058190C68AEED1A941B5309D43FEB31CD5F022079FDB05C6D93A3DF53F14110A9B62AB8B9" decryptionKey="EAEB1255343C03037A24E94B7724C1EFF6AFFDCF8B39CBCCA65903D02ACE21EB" loggingCookieName=".SFLOG-Blogger2SitefinityMigation">
	<securityTokenIssuers>
		<add key="C628DFE055D436F41E106797AEE60FB75B3242F79434C29371431F434D9BB774" encoding="Hexadecimal" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="C628DFE055D436F41E106797AEE60FB75B3242F79434C29371431F434D9BB774" encoding="Hexadecimal" realm="http://localhost" />
	</relyingParties>
	<permissions>
		<permission name="Backend">
			<actions>
				<add title="AccessResponsiveDesign" description="AccessResponsiveDesignDescription" resourceClassId="ResponsiveDesignResources" type="None" name="AccessResponsiveDesign" />
				<add title="AccessForums" description="AccessForumsDescription" resourceClassId="ForumsResources" type="None" name="AccessForums" />
				<add title="AccessPersonalizationTitle" description="AccessPersonalizationDescription" resourceClassId="PersonalizationResources" type="None" name="AccessPersonalization" />
			</actions>
		</permission>
		<config:link name="Blog" path="blogsConfig/permissions/Blog" module="Blogs" />
		<config:link name="BlogPost" path="blogsConfig/permissions/BlogPost" module="Blogs" />
		<config:link name="List" path="listsConfig/permissions/List" module="Lists" />
		<config:link name="ListItem" path="listsConfig/permissions/ListItem" module="Lists" />
		<permission title="Dynamic field permissions" description="Represents the permissions for dynamic fields." loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="DynamicFields">
			<actions>
				<add title="View {0}" description="Allows or denies viewing a dynamic field." type="View" name="View" />
				<add title="Modify {0}" description="Allows or denies changes to existing dynamic field." type="Modify" name="Modify" />
				<add title="Change a {0} permissions" description="Allows or denies changing the permissions of a dynamic field." type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumGroupPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="ForumGroup">
			<actions>
				<add title="CreateForumGroupAction" description="CreateForumGroupActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateGroup" />
				<add title="ModifyForumGroupAction" description="ModifyForumGroupActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyGroup" />
				<add title="DeleteForumGroupAction" description="DeleteForumGroupActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteGroup" />
				<add title="ChangeGroupPermissionsAction" description="ChangeGroupPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
		<permission title="ForumPermissions" description="ForumPermissionsDescription" resourceClassId="ForumsResources" loginUrl="~/Sitefinity/Login" ajaxLoginUrl="~/Sitefinity/Login/Ajax" name="Forum">
			<actions>
				<add title="ViewForumAction" description="ViewForumActionDescription" resourceClassId="ForumsResources" type="View" name="ViewForum" />
				<add title="CreateForumAction" description="CreateForumActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateForum" />
				<add title="ModifyForumAction" description="ModifyForumActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyForum" />
				<add title="DeleteForumAction" description="DeleteForumActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteForum" />
				<add title="CreateThreadAction" description="CreateThreadActionDescription" resourceClassId="ForumsResources" type="Create" name="CreateThread" />
				<add title="ModifyThreadAction" description="ModifyThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyThread" />
				<add title="ManageThreadAction" description="ManageThreadActionDescription" resourceClassId="ForumsResources" type="Modify" name="ManageThread" />
				<add title="DeleteThreadAction" description="DeleteThreadActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeleteThread" />
				<add title="CreatePostAction" description="CreatePostActionDescription" resourceClassId="ForumsResources" type="Create" name="CreatePost" />
				<add title="ModifyPostAction" description="ModifyPostActionDescription" resourceClassId="ForumsResources" type="Modify" name="ModifyPost" />
				<add title="DeletePostAction" description="DeletePostActionDescription" resourceClassId="ForumsResources" type="Delete" name="DeletePost" />
				<add title="ChangeForumPermissionsAction" description="ChangeForumPermissionsActionDescription" resourceClassId="ForumsResources" type="ChangePermissions" name="ChangePermissions" />
			</actions>
		</permission>
	</permissions>
	<customPermissionsDisplaySettings>
		<customSet setName="General">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" path="newsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.News.Model.NewsItem, Telerik.Sitefinity.ContentModules" module="News" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Events.Model.Event" path="eventsConfig/customPermissionsDisplaySettings/General/securedObjectCustomPermissionSets/Telerik.Sitefinity.Events.Model.Event" module="Events" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Blog">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/Blog/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="BlogPost">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.Blog" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.Blog" module="Blogs" />
				<config:link typeName="Telerik.Sitefinity.Blogs.Model.BlogPost" path="blogsConfig/customPermissionsDisplaySettings/BlogPost/securedObjectCustomPermissionSets/Telerik.Sitefinity.Blogs.Model.BlogPost" module="Blogs" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="List">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/List/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ListItem">
			<securedObjectCustomPermissionSets>
				<config:link typeName="Telerik.Sitefinity.Lists.Model.List" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.List" module="Lists" />
				<config:link typeName="Telerik.Sitefinity.Lists.Model.ListItem" path="listsConfig/customPermissionsDisplaySettings/ListItem/securedObjectCustomPermissionSets/Telerik.Sitefinity.Lists.Model.ListItem" module="Lists" />
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="ForumGroup">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.ForumGroup">
					<customSecurityActions>
						<customSecurityAction showActionInList="False" name="CreateGroup" />
						<customSecurityAction showActionInList="True" title="ModifyThisGroupAction" resourceClassId="ForumsResources" name="ModifyGroup" />
						<customSecurityAction showActionInList="True" title="DeleteThisGroupAction" resourceClassId="ForumsResources" name="DeleteGroup" />
						<customSecurityAction showActionInList="True" title="ChangeThisGroupPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
		<customSet setName="Forum">
			<securedObjectCustomPermissionSets>
				<securedObjectType typeName="Telerik.Sitefinity.Forums.Model.Forum">
					<customSecurityActions>
						<customSecurityAction showActionInList="False" name="CreateForum" />
						<customSecurityAction showActionInList="True" title="ViewThisForumAction" resourceClassId="ForumsResources" name="ViewForum" />
						<customSecurityAction showActionInList="True" title="ModifyThisForumAction" resourceClassId="ForumsResources" name="ModifyForum" />
						<customSecurityAction showActionInList="True" title="DeleteThisForumAction" resourceClassId="ForumsResources" name="DeleteForum" />
						<customSecurityAction showActionInList="True" title="ChangeThisForumPermissionsAction" resourceClassId="ForumsResources" name="ChangePermissions" />
					</customSecurityActions>
				</securedObjectType>
			</securedObjectCustomPermissionSets>
		</customSet>
	</customPermissionsDisplaySettings>
	<applicationRoles>
		<role id="e4e634cc-1bb0-4844-8bf5-35208dabb960" name="Everyone" />
		<role id="fef0ed86-7ca0-4437-95d3-4388e317b9bc" name="Anonymous" />
		<role id="6cfd6a3a-1d66-4eae-9ee2-d962bcb2b476" name="Authenticated" />
		<role id="0f9cbb5a-16a8-4b0d-b22b-f8502adc6816" name="Owner" />
		<role id="ffd9af6b-4f3d-413e-9225-5cb66854a412" name="Administrators" />
		<role id="7b862a00-1789-44b0-890d-36790dfe23ac" name="BackendUsers" />
		<role id="eb2cd473-aaac-415a-8e48-e9a6421b6727" name="Authors" />
		<role id="4442595c-60bd-472b-a74b-14f623b9e61e" name="Editors" />
		<role id="1433fd67-2ba8-4041-a257-a335b9ddc908" name="Designers" />
		<role id="361d87b2-6e8c-4c24-b23b-b241c5a1a028" name="Users" />
	</applicationRoles>
	<membershipProviders>
		<config:link name="OpenAccessMembership37Provider" path="migrationModuleConfig/membershipProviders/OpenAccessMembership37Provider" module="Migration" />
	</membershipProviders>
</securityConfig>