<?xml version="1.0" encoding="utf-8"?>
<virtualPathSettingsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.2.3700.0">
  <virtualPaths>
    <add resourceLocation="Telerik.Sitefinity.Ecommerce" resolverName="EmbeddedResourceResolver" virtualPath="~/SFEcommerce/*" />
    <add resourceLocation="Telerik.Sitefinity.Forums" resolverName="EmbeddedResourceResolver" virtualPath="~/SFForums/*" />
    <add resourceLocation="Telerik.Sitefinity.Personalization.Impl" resolverName="EmbeddedResourceResolver" virtualPath="~/SFPersonalization/*" />
    <add resourceLocation="eTabakov.Sitefinity.BlogsImporter" resolverName="EmbeddedResourceResolver" virtualPath="~/eTabakovSitefinityBlogsImporter/*" />
    <add resourceLocation="eTabakov.Sitefinity.Modules.BlogsImport" resolverName="EmbeddedResourceResolver" virtualPath="~/eTabakovSitefinityModulesBlogsImport/*" />
  </virtualPaths>
</virtualPathSettingsConfig>